@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Mono:wght@600&display=swap');



/*
my favorite font!
*/
/*root style*/


:root{
    --heading:#7a5bcd;
    --text_color:#ffdfdf;
    --button:#614eae;
}
body{
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin:0;
    background-color: #674AB3;
    ;
}

.text-color{
    color: var(--text_color);
}

.text-heading{

    color: var(--heading);
}
/*global style*/
a{
    text-decoration: none;
}



* > *
{
    box-sizing: border-box;
}

.bg-light
{
    background-color: var(--heading);
}

.container
{
    max-width: 1400px;
    padding: 0 15px;
    margin:auto;
}

.img-fluid
{
    width: 100%;
}

.text-title
{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color:var(--text_color);
}

.secondary-title
{
    font-family: 'Roboto Mono', monospace;
}

.display-1
{
    font-size: 24px;
}

.display-2
{
    font-size:16px;
}

.display-3
{
    font-size:14px;
}

.text-center
{
    text-align: center;
}

.text-right
{
    text-align: right;
}

.btn{
    padding: 20px 30px;

}

.btn-primary
{
    border-radius: 5px;
    background-color: var(--button);
}

/*section style*/
.navbar{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.nav-brand
{
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    align-self: center;
    font-size: 40px;
    color:var(--text_color);
}
.collapse
{
    align-self: center;
}
.nav-link
{
    font-size: 20px;
    margin:15px;
    color:var(--text_color);
    font-family: 'Roboto Mono', monospace;

}

.nav-link:hover{
    color:#ffffff;
}
.search-box
{
    display: inline;
    border-right: 1px solid var(--text_color);

    padding-right: 10px;
    margin-right: 10px;
}

.toggle-button
{
    font-size: 21px;
    background-color:transparent;
    border:none;
    position: absolute;
    right: 0;
    margin:8px 10px;
    display: none;

}

.toggle-button:focus
{
    outline: none;
}
/*navigation menu*/

/*main section*/

#site-main{
    margin-top:8em;

}

#posts
{
    margin-bottom: 5em;
}

.grid
{
    margin:0 auto;
}
.grid .grid-item
{
    width: calc(33.3333%);
    margin-bottom: 3em;
}

/*media quer*/



@media(max-width: 992px){
    .navbar
    {
        flex-direction: column;
    }

    
}

@media(max-width: 768px)
{
    .grid .grid-item
    {
    width: calc(50%);
    margin-bottom: 3em;
    }
}
@media(max-width: 574px){
    .toggle-button
    {
        display: initial;
    }
    .collapse{
        max-height: 0;
        overflow: hidden;
        transition: all 0.8s cubic-bezier(0.59, 0.22, 0.16, 0.83);

    }
    .collapse.nav-link{
        display:block;
        text-align: center;
    }
    .search-box
    {
        border-right:none;
    }
    .collapse-toggle
    {
        max-height: 500px;

    }
    .grid .grid-item
    {
    width: calc(100%);
    margin-bottom: 3em;
    }
}


